.advantages {
    display: flex;
    gap: 30px;
}

.advantages__list {
    flex-basis: calc(100% / 3 - var(--projects-set-gap));
}

.advantages__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.advantages__desc {
    color: var(--color-text-secondary);
    line-height: 1.7;
    max-width: 270px;
}